.newBoat_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px 100px;
    height:100%;
    position: relative;
}

.newBoat_title {
    font-size: 60px;
    color:#47505E;
    text-align: center;
    margin-top:0;
    margin-bottom: 20px;
    font-weight: 300;
}

.newBoat_subtitle {
    font-size: 35px;
    color: #41444d;
    text-align: center;
    margin-top:0;
    font-weight: 500;
}

.newBoat_price {
    font-size: 35px;
    color: #41444d;
    text-align: center;
    margin-top:10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.newBoat_item{
    position:relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    background-size: cover !important;
}

.newBoat_image {
    padding-top: 5px;
    margin: 0 auto;
    object-fit: cover;
}

.newBoat_priceBlock {
    position: absolute;
    bottom: -50px;
    background-color: #c5c8cb7a;
    width: 100%;
}

@media (max-width: 767px) {
    .newBoat_item{
        width: 80% !important;
    }
}

@media (min-width: 768px) {
    .newBoat_item{
        width: 80% !important;
    }
}

@media (min-width: 1024px) {
    .newBoat_item{
        width: 96% !important;
    }
}

@media (max-width: 476px) {
    .newBoat_container{
        margin:0 20px 50px;
    }

    .newBoat_title {
        font-size: 40px;
    }

    .newBoat_item {
        min-height: 560px;
        width: 97% !important;
    }
    
    .newBoat_image{
        padding-bottom: 10px;
    }

    .newBoat_price {
        font-size: 35px;
        margin-top:10px;
        margin-bottom: 5px;
    }

    .newBoat_priceBlock {
        position: initial;
        margin-top: -20px;
    }
}
