.header_hat{
    background: url(../images/background.jpg) no-repeat;
    width:100%;
    height: 100%;
    margin-top:-80px;
    background-size: cover;
}

.demo{
    position: relative;
    top: 40%;
    height: 60%;
}

.demo_item{
    color: white;
    font-size: 60px;
    text-align: center;
}
